<div class="home-wrapper padding-1">
  <section
    class="pool-list margin-bottom-2"
    *ngIf="pools && pools.length"
    >
    <h2 class="margin-bottom-1">My Active Pools</h2>
    <ul>
      <li
        class="pool-list__item row-nowrap align-items-center border-bottom-grey"
        *ngFor="let pool of pools">
        <a
          class="flex-stretch-horizontal"
          [routerLink]="['/details', pool._id]"
          >
          {{ pool.name }}
        </a>
        <su-button
          [buttonText]="'x'"
          [type]="'danger'"
          (handleClick)="deletePool(pool._id)"
          >
        </su-button>
      </li>
    </ul>
  </section>
  <section class="pool-add">
    <h2 class="margin-bottom-1">Start a New Pool</h2>
    <su-button
      [buttonText]="'Add Pool'"
      [type]="'primary'"
      (handleClick)="goToAddPool()"
      >
    </su-button>
  </section>
</div>
